//--------------------------------------------------------------
// Breadcrumbs Styles
//--------------------------------------------------------------
.breadcrumbs {
  margin: $gutter 0;
  font-size: 1.4rem;
}

.breadcrumbs__arrow .icon {
  width: 1.5rem;
  height: 1.5rem;
}
