/*============================================================================
  Form scaffolding
    - Selectors setup for you to style form elements how you want
    - Focus, error, and disabled states are set to be extended
==============================================================================*/
input,
textarea,
select {
  border: 1px solid $color-border;
  border-radius: 0;
  max-width: 100%;

  &:focus {
    // You should add some focus styles
  }

  &[disabled] {
    cursor: default;
    background-color: $color-disabled;
    border-color: $color-disabled-border;
  }
}

textarea {
  min-height: 100px;
}

//-----------------------------------------
// Styled Inputs
//-----------------------------------------
.styled-input {
  border: none;
  border-bottom: 2px solid $color-grey;
  transition: border-color 0.15s ease-out;
  &:focus {
    border-bottom-color: $color-primary;
    outline: none;
  }
}

//-----------------------------------------
// Inline Form
//-----------------------------------------
.inline-form {
  position: relative;
}
.inline-form__input {
  width: 100%;
  height: 4.2rem;
  padding-right: 8.5rem;
}
.inline-form__submit {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.2rem;
}

//-----------------------------------------
// Custom Select
//-----------------------------------------
select {
  @include prefix(appearance, none, webkit moz spec);
  background-position: right center;
  background: {
    image: url($svg-select-icon);
    repeat: no-repeat;
    position: right 10px center;
    color: transparent;
    size: 12px;
  }
  padding-right: 28px;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;

//--------------------------------------------------------------
// Hide SVG Arrow in IE9
//--------------------------------------------------------------
  .ie9 & {
    padding-right: 10px;
    background-image: none;
  }
}

select::-ms-expand {
  display: none;
}

//-----------------------------------------
// Error Styles
//-----------------------------------------
.errors {
  color: $color-error;
}
