/*============================================================================
  Form scaffolding
    - Selectors setup for you to style form elements how you want
    - Focus, error, and disabled states are set to be extended
==============================================================================*/
input,
textarea,
select {
  max-width: 100%;
  border: 1px solid $color-border;
  border-radius: 0;

  &[disabled] {
    border-color: $color-disabled-border;
    background-color: $color-disabled;
    cursor: default;
  }
}

textarea {
  min-height: 100px;
  border: 1px solid $color-border;
  
  &:focus {
    outline: none;
    border-color: $color-primary;
    resize: none;
  }
}

//-----------------------------------------
// Styled Inputs
//-----------------------------------------
.styled-input {
  border: none;
  border-bottom: 2px solid $color-grey;
  transition: border-color 0.15s ease-out;

  &:focus {
    outline: none;
    border-bottom-color: $color-primary;
  }
}

//-----------------------------------------
// Inline Form
//-----------------------------------------
.inline-form {
  position: relative;
}

.inline-form__input {
  padding-right: 8.5rem;
  width: 100%;
  height: 4.2rem;
}

.inline-form__submit {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2rem;
}

//-----------------------------------------
// Custom Select
//-----------------------------------------
select {
  padding-right: 28px;
  background-color: transparent;
  background-image: url($svg-select-icon);
  background-position: right 10px center;
  background-size: 12px;
  background-repeat: no-repeat;
  text-indent: 0.01px;
  text-overflow: "";
  cursor: pointer;

  @include prefix(appearance, none, webkit moz spec);

  //--------------------------------------------------------------
  // Hide SVG Arrow in IE9
  //--------------------------------------------------------------
  .ie9 & {
    padding-right: 10px;
    background-image: none;
  }
}

select::-ms-expand {
  display: none;
}

.styled-select {
  padding: 1.4rem 1rem;
  border-width: 2px;
  border-radius: $border-radius;
  
  &:hover,
  &:focus {
    outline: none;
    border-color: $color-primary;
  }
}

//-----------------------------------------
// Quantity Modifiers
//-----------------------------------------
.quantity-plus,
.quantity-minus {
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  transition: all 0.2s ease;

  &:hover {
    background-color: $color-primary;
    color: white;
  }
}

//-----------------------------------------
// Error Styles
//-----------------------------------------
.errors {
  color: $color-error;
}
