//--------------------------------------------------------------
// A basic flexbox grid
//--------------------------------------------------------------
.flexgrid {
  display: flex;
  justify-content: space-around;
  .flexgrid__item {
    flex: 1;
  }
}

//-----------------------------------------
// Guttered Flex Grid
//-----------------------------------------
.flexgrid--guttered {
  margin-left: -#{$gutter};
  margin-right: -#{$gutter};
  .flexgrid__item {
    margin-left: $gutter;
    margin-right: $gutter;
  }
}

//-----------------------------------------
// One Half Grid
//-----------------------------------------
.one-half {
  width: calc(50% - #{$gutter});
}
.one-half--large-up {
  @include breakpoint($large--up) {
    width: calc(50% - #{$gutter});
  }
}
.one-half--medium-up {
  @include breakpoint($medium--up) {
    width: calc(50% - #{$gutter});
  }
}
.one-half--small-up {
  @include breakpoint($small--up) {
    width: calc(50% - #{$gutter});
  }
}

//-----------------------------------------
// One Third Grid
//-----------------------------------------
.one-third {
  width: calc(33% - #{$gutter});
}
.one-third--large-up {
  @include breakpoint($large--up) {
    width: calc(33% - #{$gutter});
  }
}
.one-third--medium-up {
  @include breakpoint($medium--up) {
    width: calc(33% - #{$gutter});
  }
}
.one-third--small-up {
  @include breakpoint($small--up) {
    width: calc(33% - #{$gutter});
  }
}


//-----------------------------------------
// One Fourth Grid
//-----------------------------------------
.one-fourth {
  width: calc(25% - #{$gutter});
}
.one-fourth--large-up {
  @include breakpoint($large--up) {
    width: calc(25% - #{$gutter});
  }
}
.one-fourth--medium-up {
  @include breakpoint($medium--up) {
    width: calc(25% - #{$gutter});
  }
}
.one-fourth--small-up {
  @include breakpoint($small--up) {
    width: calc(25% - #{$gutter});
  }
}