//--------------------------------------------------------------
// General Layout Styles
//--------------------------------------------------------------
body,
html {
  background-color: $color-body;
}

//-----------------------------------------
// Lists
//-----------------------------------------
// Remove extra vertical spacing when nesting lists.
li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

//-----------------------------------------
// Containers
//-----------------------------------------
.container {
  @include clearfix();
  max-width: $container;
  padding: 0 $gutter;
  margin: 0 auto;
}
