//--------------------------------------------------------------
// General Layout Styles
//--------------------------------------------------------------
body,
html {
  background-color: $color-body;
}

//-----------------------------------------
// Images
//-----------------------------------------
img {
  max-width: 100%;
  font-style: italic; //Offset `alt` text from surrounding copy
  vertical-align: middle; //Setting `vertical-align` removes the whitespace that appears under `img`
}

//-----------------------------------------
// Lists
//-----------------------------------------
// Remove extra vertical spacing when nesting lists.
li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

//-----------------------------------------
// Containers
//-----------------------------------------
.container {
  @include clearfix();
  max-width: $container;
  padding: 0 $gutter;
  margin: 0 auto;
}
