//--------------------------------------------------------------
// General Typography Styles
//--------------------------------------------------------------
body {
  font-family: $font-stack-body;
  line-height: $font-line-height;
  color: $color-grey;
}

//-----------------------------------------
// Headings
//-----------------------------------------
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0 0 $gutter 0;
  font-family: $font-stack-header;
  font-weight: $font-weight-header;
}

//-----------------------------------------
// Paragraphs
//-----------------------------------------
:not(.rte) p {
  // No margins on paragraphs outside rich
  // text content for easier styling 
  margin: 0;
}