//--------------------------------------------------------------
// Article Card Styles
//--------------------------------------------------------------
.article-card {
  background-color: white;
  border-radius: $border-radius;
}
.article-card__content {
  padding: 2rem;
}