/* ==========================================================================
  Site Header Styles
========================================================================== */
#shopify-section-header { // ID is renecessary becasue Shopify wraps sections in a div with a unique ID
  z-index: $z-index-header;
}

.site-header {
  display: flex;
  align-items: center;
  height: 7rem;
  background-color: white;
  border-bottom: 1px solid $color-border;
  box-shadow: 0 1px rgba($color-border, 0.3);
}
.site-header__item {
  display: flex;
  align-items: center;
  height: 100%;
}

//-----------------------------------------
// Menu Toggle
//-----------------------------------------
.site-header__menu-toggle {
  padding: 0 3rem;
  border-right: 1px solid $color-border;
  .icon-menu-toggle {
    width: 2.5rem;
    height: 2.5rem;
    color: $color-grey;
    cursor: pointer;
    &:hover {
      color: $color-primary;
    }
  }
}

//-----------------------------------------
// Center Content Area
//-----------------------------------------
.site-header__center-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 0 3rem;
  border-right: 1px solid $color-border;
}

//-----------------------------------------
// Site Logo
//-----------------------------------------
.site-logo {
  font-family: $font-stack-header;
  text-decoration: none;
  color: $color-primary;
  h1 {
    margin: 0;
  }
}
.site-header__logo-image {
  display: block;
}

//-----------------------------------------
// Header Social
//-----------------------------------------
.site-header__social {
  display: none;
  @include breakpoint($medium--up) {
    display: flex;
  }
}
.header-social__item {
  margin-right: 1.2rem;
  color: $color-grey;
  text-decoration: none;
  transition: color 0.15s ease-in-out;
  &:last-of-type {
    margin-right: 0;
  }
  &:hover {
    color: $color-primary;
  }
  .icon {
    width: 2rem;
    height: 2rem;
  }
}

//-----------------------------------------
// Header Search Toggle
//-----------------------------------------
.site-header__search {
  display: none;
  width: 7.5rem;
  justify-content: center;
  @include breakpoint($medium--up) {
    display: flex;
  }
  .search-toggle {
    color: $color-grey;
    cursor: pointer;
    &:hover {
      color: $color-primary;
    }
    .icon {
      width: 2.5rem;
      height: 2.5rem;
      transition: color 0.15s ease-in-out;
    }
  }
}

//-----------------------------------------
// Header Cart Toggle
//-----------------------------------------
.site-header__cart {
  width: 7.5rem;
  justify-content: center;
  border-left: 1px solid $color-border;
  .cart-toggle {
    color: $color-grey;
    cursor: pointer;
    &:hover {
      color: $color-primary;
    }
    .icon {
      width: 4rem;
      height: 4rem;
      transition: color 0.15s ease-in-out;
    }
  }
}