/* ==========================================================================
  Site Footer Styles
========================================================================== */
.site-footer {
	padding: 3rem 0;
}
.site-footer__heading {
	font-family: $font-stack-body;
	font-size: 1.6rem;
}