/* ==========================================================================
  Site Header Styles
========================================================================== */
#shopify-section-header { // stylelint-disable
  z-index: $z-index-header; // ID is renecessary becasue Shopify wraps sections in a div with a unique ID
}

.site-header {
  display: flex;
  align-items: center;
  height: 7rem;
  border-bottom: 1px solid $color-border;
  background-color: white;
  box-shadow: 0 1px rgba($color-border, 0.3);
}

.site-header__item {
  display: flex;
  align-items: center;
  height: 100%;
}

//-----------------------------------------
// Menu Toggle
//-----------------------------------------
.site-header__menu-toggle {
  padding: 0 3rem;
  border-right: 1px solid $color-border;
  
  .icon-menu-toggle {
    width: 2.5rem;
    height: 2.5rem;
    color: $color-grey;
    cursor: pointer;
    
    &:hover {
      color: $color-primary;
    }
  }
}

//-----------------------------------------
// Center Content Area
//-----------------------------------------
.site-header__center-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0 3rem;
  border-right: 1px solid $color-border;
}

//-----------------------------------------
// Site Logo
//-----------------------------------------
.site-logo {
  color: $color-primary;
  text-decoration: none;
  font-family: $font-stack-header;
  
  h1 {
    margin: 0;
  }
}

.site-header__logo-image {
  display: block;
}

//-----------------------------------------
// Header Social
//-----------------------------------------
.site-header__social {
  display: none;

  @include breakpoint($medium--up) {
    display: flex;
  }
}

.header-social__item {
  margin-right: 1.2rem;
  color: $color-grey;
  text-decoration: none;
  transition: color 0.15s ease-in-out;
  
  &:last-of-type {
    margin-right: 0;
  }
  
  &:hover {
    color: $color-primary;
  }
  
  .icon {
    width: 2rem;
    height: 2rem;
  }
}

//-----------------------------------------
// Header Search Toggle
//-----------------------------------------
.site-header__search {
  display: none;
  justify-content: center;
  width: 7.5rem;

  @include breakpoint($medium--up) {
    display: flex;
  }
  
  .search-toggle {
    color: $color-grey;
    cursor: pointer;
    
    &:hover {
      color: $color-primary;
    }
  }
  
  .icon {
    width: 2.5rem;
    height: 2.5rem;
    transition: color 0.15s ease-in-out;
  }
}

//-----------------------------------------
// Header Cart Toggle
//-----------------------------------------
.site-header__cart {
  position: relative;
  justify-content: center;
  width: 7.5rem;
  border-left: 1px solid $color-border;
  
  .cart-toggle {
    color: $color-grey;
    cursor: pointer;
    
    &:hover {
      color: $color-primary;
    }
  }
  
  .icon {
    width: 4rem;
    height: 4rem;
    transition: color 0.15s ease-in-out;
  }

  .cart-counter {
    position: absolute;
    top: 1rem;
    right: 3rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: $color-primary;
    color: white;
    font-size: 1rem;
    line-height: 0.7;
  }
}
