<section class="related-products">
	<div class="container">
    <h2 class="featured-collection__heading section-heading">More {{ collection.title }}</h2>
    <div class="flexgrid flexgrid--guttered" itemscope itemtype="http://schema.org/ItemList">
			<meta itemprop="numberOfItems" content="3">
			{% assign collection = collections[collection.handle] %}
			{% for product in collection.products limit: 3 %}
				{% include 'product-card', product: product %}
			{% endfor %}
    </div>
    {% comment %} /.flexgrid {% endcomment %}
  </div>
  {% comment %} /.container {% endcomment %}
</section>