//--------------------------------------------------------------
// Collection Template Styles
//--------------------------------------------------------------
.collection { 
	padding-top: 3rem;
}

//-----------------------------------------
// Colelction Title
//-----------------------------------------
.collection__title {
	margin: 0;
	text-align: center;
	font-size: 2.4rem;

	@include breakpoint($medium--up) {
		font-size: 4.2rem;
	}
}

.collection__list {
	padding: 3rem 0;
	background-color: $color-secondary;
}

//-----------------------------------------
// Colelction Actions
//-----------------------------------------
.collection__actions {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: $gutter--small;

	@include breakpoint($small--up) {
		flex-direction: row;
	}
}

.collection__sort,
.collection__vendors {
	display: block;
	
	label {
		display: block;
	}

	select {
		width: 100%;

		@include breakpoint($small--up) {
			width: 18rem;	
		}
	}
}

.collection__vendors {
	margin-bottom: $gutter--small;
}