//--------------------------------------------------------------
// Collection Template Styles
//--------------------------------------------------------------
.collection {
  padding-top: 3rem;
}

//-----------------------------------------
// Colelction List
//-----------------------------------------

.collection__list {
  padding: 3rem 0 1rem;
  background-color: $color-secondary;

  .product-card {
    margin-bottom: $gutter;
  }
}

//-----------------------------------------
// Colelction Actions
//-----------------------------------------
.collection__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: $gutter--small;

  @include breakpoint($small--up) {
    flex-direction: row;
  }
}

.collection__action-block {
  display: block;

  label {
    display: block;
  }

  select {
    width: 100%;

    @include breakpoint($small--up) {
      width: 18rem;
    }
  }
}

.collection__vendors {
  margin-bottom: $gutter--small;
}
