//--------------------------------------------------------------
// Featured Collection Styles
//--------------------------------------------------------------
.featured-collection {
  padding: 2rem 0 4rem 0;
  background-color: $color-secondary;
  .featured-collection__heading {
    text-align: center;
  }
}