//--------------------------------------------------------------
// Featured Collection Styles
//--------------------------------------------------------------
.featured-collection {
  padding: 3rem 0;
  background-color: $color-secondary;
  .featured-collection__heading {
    text-align: center;
  }
}