//--------------------------------------------------------------
// Feature Row with Image Section Styles
//--------------------------------------------------------------
.image-with-text {
    display: flex;
    flex-wrap: wrap;
  
  .text-block,
  .image-block {
    display: flex;
    align-items: center;
    flex: 1 100%;

    @include breakpoint($medium--up) {
      flex: 1 50%;
    }
  }
  //-----------------------------------------
  // Text Block
  //-----------------------------------------
  .text-block {
    padding: 3rem 1rem;
    text-align: center;

    @include breakpoint($medium--up) {
      padding: 20rem 1rem;
      background-color: $color-secondary;
      text-align: left;
    }
  }
  
  .text-block__inner {
    position: relative;
    margin: 0 auto;
    max-width: 54rem;
    width: 100%;

    @include breakpoint($small--up) {
      width: 75%;
    }
    @include breakpoint($medium--up) {
      margin: 0 auto;
    }
  }
  
  .text-block__heading {
    position: relative;
    font-size: 2.4rem;

    @include breakpoint($medium--up) {
      font-size: 2.8rem
    }
    
    &::before {
      position: absolute;
      top: -3rem;
      left: 50%;
      width: 6rem;
      height: 0.5rem;
      background-color: $color-primary;
      content: '';
      transform: translateX(-50%);

      @include breakpoint($medium--up) {
        top: -1.5rem;
        left: 0;
        transform: none;
      }
    }
  }
  
  .text-block__copy {
    font-size: 1.4rem;

    @include breakpoint($medium--up) {
      font-size: 1.6rem;
    }
  }
  //-----------------------------------------
  // Image Block
  //-----------------------------------------
  .image-block {
    padding: 3rem 1rem;
  }
  
  .image-block__image-wrap {
    margin: 0 auto;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @include breakpoint($medium--up) {
      width: 30rem;
      height: 30rem;
    }
  }
}
