//--------------------------------------------------------------
// Product Page Styles
//--------------------------------------------------------------
.product {
	padding-top: $gutter;
}

//-----------------------------------------
// Product Breadcrumbs
//-----------------------------------------
.breadcrumbs {
	margin-bottom: 2rem;
	font-size: 1.4rem;
}
.breadcrumbs__arrow .icon {
	width: 1.5rem;
	height: 1.5rem;
}

//-----------------------------------------
// Product Photos
//-----------------------------------------
.product-photos {
	margin-bottom: 2rem;
	@include breakpoint($medium--up) {
		margin-bottom: 0;
	}
}
.product-thumbnails__item {
	cursor: pointer;
}

//-----------------------------------------
// Product Details
//-----------------------------------------
.product-details__title {
	margin-bottom: 0;
	font-size: 3.2rem;
	line-height: 1.2;
}
//-----------------------------------------
// Product Meta
//-----------------------------------------
.product-details__type,
.product-details__vendor,
.product-details__meta-separator {
	display: inline-block;
	font-size: 2rem;
}
//-----------------------------------------
// Product Sale Notice
//-----------------------------------------
.product-details__notices {
	margin: 0.5rem 0;
	.on-sale {
		padding: 0.5rem 0.8rem;
		font-size: 1.2rem;
		color: white;
		border-radius: $border-radius;
		background-color: $color-primary;
	}
}
//-----------------------------------------
// Product Price
//-----------------------------------------
.product-details__price-wrapper {
	margin-bottom: 1rem;
	font-size: 2.4rem;
}
.product-details__price {
	margin-right: 0.5rem;
	font-weight: 700;
}
.product-details__compare-price {
	color: $color-disabled;
}
//-----------------------------------------
// Form Elements
//-----------------------------------------
.product-details__form {
	margin-bottom: 1.5rem;
}
.product-details__form-label {
	display: block;
}
.product-details__option-select { 
	margin-bottom: 1rem;
	select {
		padding: 1.4rem 1rem;
		width: 100%;
		border-width: 2px;
		border-radius: $border-radius;
		&:hover,
		&:focus {
			border-color: $color-primary;
			outline: none;
		}
	}
}
.product-details__quantity {
	width: 100%;
	padding: 1.4rem 1rem;
	border-width: 2px;
	border-radius: $border-radius;
	&:hover,
	&:focus {
		border-color: $color-primary;
		outline: none;
	}
}
.product-details__add-wrapper {
	align-self: flex-end;
}
.product-details__add-to-cart {
	width: 100%;
	vertical-align: initial;
}

//-----------------------------------------
// Related Products
//-----------------------------------------
.related-products {
	margin-top: 3rem;
	padding: 3rem;
	background-color: $color-secondary;
	.section-heading {
		font-size: 3.2rem;
		text-align: center;
	}
}