<section class="featured-collection index-section">
  <div class="container">
    <h2 class="featured-collection__heading section-heading">A Featured Collection</h2>
    <div class="flexgrid flexgrid--guttered">
      {% include 'product-card' %}
      {% include 'product-card' %}
      {% include 'product-card' %}
    </div>
    {% comment %} /.flexgrid {% endcomment %}
  </div>
  {% comment %} /.container {% endcomment %}
</section>

{% schema %}
  {
    "name": "Featured Collection",
    "settings": [
      {
        "id": "placeholder",
        "type": "image_picker",
        "label": "Placeholder"
      }
    ],
    "presets": [
      {
        "name": "Featured Collection",
        "category": "Product Blocks"
      }
    ]
  }
{% endschema %}
