<section class="featured-collection index-section">
  <div class="container">
    <h2 class="featured-collection__heading section-heading">A Featured Collection</h2>
    <div class="flexgrid flexgrid--guttered">
    {% assign collection = collections[section.settings.collection] %}
    {% for product in collection.products limit: 3 %}
      {% include 'product-card', product: product %}
    {% endfor %}
    </div>
    {% comment %} /.flexgrid {% endcomment %}
  </div>
  {% comment %} /.container {% endcomment %}
</section>

{% schema %}
  {
    "name": "Featured Collection",
    "settings": [
      {
        "id": "collection",
        "type": "collection",
        "label": "Featured Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured Collection",
        "category": "Product Blocks"
      }
    ]
  }
{% endschema %}
