<section class="featured-collection index-section">
  <div class="container">
    <h2 class="featured-collection__heading section-heading">A Featured Collection</h2>
    <div class="flexgrid flexgrid--guttered">
      <article class="product-card flexgrid__item">
        <div class="product-card__image">
          <div class="image-wrapper" style="padding-bottom: {{ 1 | divided_by: section.settings.placeholder.aspect_ratio | times: 100 }}%">
            <img class="is-lazyloaded lazyload" data-sizes="auto" data-srcset="{% include 'srcset', image: section.settings.placeholder | img_url %}" src="{{ section.settings.placeholder | img_url }}" alt="">
          </div>
          {% comment %} /.image-wrapper {% endcomment %}
        </div>
        {% comment %} /__image {% endcomment %}
        
      </article>
      <article class="product-card flexgrid__item">
        <div class="product-card__image">
          <div class="image-wrapper" style="padding-bottom: {{ 1 | divided_by: section.settings.placeholder.aspect_ratio | times: 100 }}%">
            <img class="is-lazyloaded lazyload" data-sizes="auto" data-srcset="{% include 'srcset', image: section.settings.placeholder | img_url %}" src="{{ section.settings.placeholder | img_url }}" alt="">
          </div>
          {% comment %} /.image-wrapper {% endcomment %}
        </div>
        {% comment %} /__image {% endcomment %}
        
      </article>
      <article class="product-card flexgrid__item">
        <div class="product-card__image">
          <div class="image-wrapper" style="padding-bottom: {{ 1 | divided_by: section.settings.placeholder.aspect_ratio | times: 100 }}%">
            <img class="is-lazyloaded lazyload" data-sizes="auto" data-srcset="{% include 'srcset', image: section.settings.placeholder | img_url %}" src="{{ section.settings.placeholder | img_url }}" alt="">
          </div>
          {% comment %} /.image-wrapper {% endcomment %}
        </div>
        {% comment %} /__image {% endcomment %}
        
      </article>
    </div>
    {% comment %} /.flexgrid {% endcomment %}
  </div>
  {% comment %} /.container {% endcomment %}
</section>

{% schema %}
  {
    "name": "Featured Collection",
    "settings": [
      {
        "id": "placeholder",
        "type": "image_picker",
        "label": "Placeholder"
      }
    ],
    "presets": [
      {
        "name": "Featured Collection",
        "category": "Product Blocks"
      }
    ]
  }
{% endschema %}
