<section class="image-with-text index-section" data-section-type="feature-row-image" data-section-id="{{ section.id }}">
  
  {% comment %}
  ------------------------------------------------------------------------------
  Image block
  ------------------------------------------------------------------------------
  {% endcomment %}
  <div class="image-with-text__block image-block">
    <div class="image-block__image-wrap is-lazyloaded lazyload"
    data-bgset="{% include 'bg-set', image: section.settings.feature_row_image %}"
    data-sizes="auto">
    </div>
    {% comment %} /__image-wrap {% endcomment %}
  </div>
  {% comment %}/.image-block{% endcomment %}
  
  {% comment %}
  ------------------------------------------------------------------------------
  Text block
  ------------------------------------------------------------------------------
  {% endcomment %}
  <div class="image-with-text__block text-block">
    <div class="text-block__inner">
      {% if section.settings.feature_row_heading %}
        <h2 class="text-block__heading">{{ section.settings.feature_row_heading }}</h2>
      {% endif %}
      {% if section.settings.feature_row_copy %}
        <p class="text-block__copy rte">{{ section.settings.feature_row_copy }}</p>
      {% endif %}
    </div>
    {% comment %} /__inner {% endcomment %}
  </div>
  {% comment %} /.text-block {% endcomment %}
</section>

{% schema %}
  {
    "name": "Image with Text",
    "settings": [
      {
        "label": "Row Image",
        "id": "feature_row_image",
        "type": "image_picker"
      },
      {
        "label": "Row Heading",
        "id": "feature_row_heading",
        "type": "text"
      },
      {
        "label": "Row Copy",
        "id": "feature_row_copy",
        "type": "textarea"
      }
    ],
    "presets": [
      {
        "name": "Image with Text Block",
        "category": "Info Blocks"
      }
    ]
  }
{% endschema %}