<section class="featured-collection index-section">
  <div class="container">
    {% if section.settings.fc_heading %}
      <h2 class="featured-collection__heading section-heading">{{ section.settings.fc_heading }}</h2>
    {% endif %}
    <div class="flexgrid flexgrid--guttered" itemscope itemtype="http://schema.org/ItemList">
      <meta itemprop="numberOfItems" content="3">
      {% assign collection = collections[section.settings.fc_collection] %}
      {% for product in collection.products limit: 3 %}
        {% include 'product-card', product: product %}
      {% endfor %}
    </div>
    {% comment %} /.flexgrid {% endcomment %}
  </div>
  {% comment %} /.container {% endcomment %}
</section>

{% schema %}
  {
    "name": "Featured Collection",
    "settings": [
      {
        "id": "fc_heading",
        "type": "text",
        "label": "Section Heading",
        "info": "Optional"
      },
      {
        "id": "fc_collection",
        "type": "collection",
        "label": "Featured Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured Collection",
        "category": "Product Blocks"
      }
    ]
  }
{% endschema %}
