<section class="image-with-text flexgrid flexgrid--one-half flexgrid--guttered">
  <div class="image-with-text__block image-block flexgrid__item">

  </div>
  {% comment %}/.image-block{% endcomment %}
  <div class="image-with-text__block text-block flexgrid__item">
    <div class="text-block__inner">
      <h2 class="text-block__heading">I'm the heading</h2>
      <p class="text-block__copy">Lorem ipsum dolor sit amat. Equibilus no serat fui. Eros ambiularum sed ami erat.</p>
    </div>
    {% comment %} /__inner {% endcomment %}
  </div>
  {% comment %} /.text-block {% endcomment %}
</section>

{% schema %}
  {
    "name": "Image with Text",
    "settings": [],
    "presets": [
      {
        "name": "Image with Text Block",
        "category": "Info Blocks"
      }
    ]
  }
{% endschema %}