<section class="latest-articles index-section">
  <div class="container flexgrid">
  {% for article in blogs[section.settings.la_blog].articles %}
    {% include 'article-card' %}
  {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "Latest Articles",
    "settings": [
      {
        "id": "la_blog",
        "label": "Blog",
        "type": "blog",
        "info": "Choose the blog from which to display the latest articles"
      }
    ],
    "presets": [
      {
        "name": "Latest Articles",
        "category": "Supplemental Blocks"
      }
    ]
  }
{% endschema %}