<section class="latest-articles index-section">
  <div class="container">
    <div class="flexgrid flexgrid--guttered">
      {% for article in blogs[section.settings.la_blog].articles %}
        {% include 'article-card' %}
      {% endfor %}
    </div>
    {% comment %} /.flexgrid {% endcomment %}
  </div>
  {% comment %} /.container {% endcomment %}
</section>

{% schema %}
  {
    "name": "Latest Articles",
    "settings": [
      {
        "id": "la_blog",
        "label": "Blog",
        "type": "blog",
        "info": "Choose the blog from which to display the latest articles"
      }
    ],
    "presets": [
      {
        "name": "Latest Articles",
        "category": "Supplemental Blocks"
      }
    ]
  }
{% endschema %}